<div class="header-container">
    <div class="header-items">
        <section #logo class="logo">
            <h1>Alpha</h1>
        </section>
        <section #category class="category">
            <ul>
                <li>
                    <div class="dropdown">
                        <button class="dropdown-toggle flex-items">Home <span class="material-symbols-outlined">
                            keyboard_arrow_down
                            </span></button>
                        <ul class="dropdown-menu">
                          <li><a href="#">Home Style 1</a></li>
                          <li><a href="#">Home Style 2</a></li>
                          <li><a href="#">Home Style 3</a></li>
                          <li><a href="#">Home Style 4</a></li>
                          <li><a href="#">Home Style 5</a></li>
                          <li><a href="#">Home Style 6</a></li>
                          <li><a href="#">Home Style 7</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    
                    <div class="dropdown">
                        <button class="dropdown-toggle flex-items">Shop <span class="material-symbols-outlined">
                            keyboard_arrow_down
                            </span></button>
                        <ul class="dropdown-menu">
                          <li><a href="#">Home Style 1</a></li>
                          <li><a href="#">Home Style 2</a></li>
                          <li><a href="#">Home Style 3</a></li>
                          <li><a href="#">Home Style 4</a></li>
                          <li><a href="#">Home Style 5</a></li>
                          <li><a href="#">Home Style 6</a></li>
                          <li><a href="#">Home Style 7</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="dropdown-toggle flex-items">Page <span class="material-symbols-outlined">
                            keyboard_arrow_down
                            </span></button>
                        <ul class="dropdown-menu">
                          <li><a href="#">Home Style 1</a></li>
                          <li><a href="#">Home Style 2</a></li>
                          <li><a href="#">Home Style 3</a></li>
                          <li><a href="#">Home Style 4</a></li>
                          <li><a href="#">Home Style 5</a></li>
                          <li><a href="#">Home Style 6</a></li>
                          <li><a href="#">Home Style 7</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="dropdown-toggle flex-items">Contact <span class="material-symbols-outlined">
                            keyboard_arrow_down
                            </span></button>
                        <ul class="dropdown-menu">
                          <li><a href="#">Home Style 1</a></li>
                          <li><a href="#">Home Style 2</a></li>
                          <li><a href="#">Home Style 3</a></li>
                          <li><a href="#">Home Style 4</a></li>
                          <li><a href="#">Home Style 5</a></li>
                          <li><a href="#">Home Style 6</a></li>
                          <li><a href="#">Home Style 7</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </section>
        <section #cart class="cart">
            <ul>
                <li>
                    Search
                </li>
                <li>
                    Cart(0)
                </li>
            </ul>
        </section>
    </div>
  </div>