
    <div class="trending-products">
        <div class="heading-conatiner">
            <div class="heading">
                <div class="line"></div>
                <h2>Trending Products</h2>
                <div class="line"></div>
            </div>
        </div>
        <p>Mirum est notare quam littera gothica quam nunc putamus parum claram!</p>
        <div class="product-container">
            <div class="products">
                <div class="product">
                    <div class="product-info">
                        <img src="images/wooden-container-bowl.jpg" alt="Wooden container Bowl">
                        <h3>Wooden container Bowl</h3>
                        <p class="price"><span class="new-price">$96.00</span> <span class="old-price">$120.00</span></p>
                    </div>
                </div>
                <div class="product">
                    <img src="images/euvira-rocking-chair.jpg" alt="Euvira Rocking Chair">
                    <h3>Euvira Rocking Chair</h3>
                    <p class="price"><span class="new-price">$90.00</span> <span class="old-price">$110.00</span></p>
                </div>
                <div class="product">
                    <div class="product-info">
                        <h3>Set of 2 baskets</h3>
                        <p class="price"><span class="new-price">$230.00</span> <span class="old-price" >$250.00</span></p>
                        <a href="#" class="add-to-cart">+ Add to Cart</a>
                    </div>
                    <div class="product-label">NEW</div>
                    <div class="product-discount">-8%</div>
                </div>
                <div class="product">
                    <img src="images/tailored-fit-mesh-panel.jpg" alt="Tailored Fit Mesh-Panel">
                    <h3>Tailored Fit Mesh-Panel</h3>
                    <p class="price"><a href="#" class="add-to-cart">+ Add to Cart</a></p>
                    <div class="product-label">NEW</div>
                    <div class="product-discount">-8%</div>
                </div>
                <div class="product">
                    <img src="images/wooden-container-bowl.jpg" alt="Wooden container Bowl">
                    <h3>Wooden container Bowl</h3>
                    <p class="price"><span class="new-price">$96.00</span> <span class="old-price">$120.00</span></p>
                </div>
                <div class="product">
                    <img src="images/euvira-rocking-chair.jpg" alt="Euvira Rocking Chair">
                    <h3>Euvira Rocking Chair</h3>
                    <p class="price"><span class="new-price">$90.00</span> <span class="old-price">$110.00</span></p>
                </div>
                <div class="product">
                    <img src="images/set-of-2-baskets.jpg" alt="Set of 2 baskets">
                    <h3>Set of 2 baskets</h3>
                    <p class="price"><span class="new-price">$230.00</span> <span class="old-price">$250.00</span></p>
                </div>
                <div class="product">
                    <img src="images/tailored-fit-mesh-panel.jpg" alt="Tailored Fit Mesh-Panel">
                    <h3>Tailored Fit Mesh-Panel</h3>
                    <p class="price"><a href="#" class="add-to-cart">+ Add to Cart</a></p>
                    <div class="product-label">NEW</div>
                    <div class="product-discount">-8%</div>
                </div>
                <div class="product">
                    <img src="images/wooden-container-bowl.jpg" alt="Wooden container Bowl">
                    <h3>Wooden container Bowl</h3>
                    <p class="price"><span class="new-price">$96.00</span> <span class="old-price">$120.00</span></p>
                </div>
                <div class="product">
                    <img src="images/euvira-rocking-chair.jpg" alt="Euvira Rocking Chair">
                    <h3>Euvira Rocking Chair</h3>
                    <p class="price"><span class="new-price">$90.00</span> <span class="old-price">$110.00</span></p>
                </div>
                <div class="product">
                    <img src="images/set-of-2-baskets.jpg" alt="Set of 2 baskets">
                    <h3>Set of 2 baskets</h3>
                    <p class="price"><span class="new-price">$230.00</span> <span class="old-price">$250.00</span></p>
                </div>
                <div class="product">
                    <img src="images/tailored-fit-mesh-panel.jpg" alt="Tailored Fit Mesh-Panel">
                    <h3>Tailored Fit Mesh-Panel</h3>
                    <p class="price"><a href="#" class="add-to-cart">+ Add to Cart</a></p>
                    <div class="product-label">NEW</div>
                    <div class="product-discount">-8%</div>
                </div>
            </div>
        </div>
        <div>
            <button class="btn"> Load More </button>
        </div>



        <div class="container">
            <section class="product-c2">
                <div class="product-i2">
                    <div class="banner-c2">
                        <p >Products Accessories</p>
                        <h3>Wooden container</h3>
                        <a>BUY NOW/$596.00</a>
                    </div>
                </div>

                <div class="product-i2">
                    <div class="banner-c2">
                        <p >Products Accessories</p>
                        <h3>Wooden container</h3>
                        <a>BUY NOW/$596.00</a>
                    </div>
                </div>
                <!-- <div class="product-item">
                    <img src="image2.jpg" alt="Bowl">
                    <h3>Bowl</h3>
                    <button>BUY NOW/$230.00</button>
                </div> -->
            </section>
        </div>
    </div>
